use flake

# Nefit Easy credentials via setec
export NEFIT_SERIAL_NUMBER=$(secret infra/ldn/nefit/serial-number)
export NEFIT_ACCESS_KEY=$(secret infra/ldn/nefit/access-key)
export NEFIT_PASSWORD=$(secret infra/ldn/nefit/password)

[ -f .envrc.local ] && source .envrc.local
